In [5]:
import pandas as pd

In [9]:
pd.__version__
pd.__name__

'pandas'

In [21]:
# 2.4 В аптеку поступают партии лекарств. Их названия находятся в списке names, 
#  а количество единиц товара находится в списке counts.
import pandas as pd

def create_medications(names, counts):
    """Создаёт объет типа Series

    Args:
        names (_str_): _Названия лекарств_
        counts (_int_): _Кол-ва этих лекарств_

    Returns:
        _Series_: _Таблица лекарств с количествами_
    """
    my_series = pd.Series(data=counts, index=names, name = 'meds')
    return (my_series)
   

def get_percent(medications, name):
    """Доля в таблице

    Args:
        medications (_Series_): _Таблица лекарств с количествами_
        name (_str_): _Запрашиваемое лекарство_

    Returns:
        _float_: _Доля этого лекарства в таблице_
    """
    percent = medications[name] / sum(medications.values) *100
    return (percent)
    

if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [50]:
# 3.5 DataFrame
import pandas as pd

def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, 
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    df = pd.DataFrame({
        'expenses':expenses,
        'income':income,
    })
    df.index = years
    return df

def get_profit(df, year):
    
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    if year not in df.index:
        return None
    profit = df.income[year] - df.expenses[year]
    return profit
    

if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74

None

In [ ]:
# Как прочитать в DataFrame csv-файл, в качестве разделителя у которого значится '!'?
df = pd.read_csv('path/file.csv', sep= '!')
# Как прочитать в DataFrame csv-файл, в качестве разделителя у которого значится ';'
# а первые 20 строк занимает служебная информация
df = pd.read_csv('path/file.csv', sep = ';', skiprows = 20)
# Как записать DataFrame в csv-файл, в котором разделителем служит ';'
# а целая часть числа отделяется от дробной знаком ','?
df.to_csv('path/file.csv', sep = ';', decimal=',')
# Какая функция позволяет прочитать файл 'income.xslx' в DataFrame?
pd.read_excel()

In [68]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
#melb_data.describe(include=['object'])
#melb_data['CouncilArea'].value_counts()
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
melb_data.describe(include=['object'])
melb_data['Type'].value_counts(normalize=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [70]:
# Анализ значений по столбцам
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [71]:
# Анализ значений по столбцам с "не числами"
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [69]:
# Доля уникальных значений по столбцу
melb_data['Regionname'].value_counts(normalize=True)

Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: Regionname, dtype: float64

In [77]:
# Вычислим среднюю цену на объекты недвижимости:
print('Mean price:', round(melb_data['Price'].mean(), 3))
# Найдём максимальное количество парковочных мест:
print('Max parking place:', melb_data['Car'].max())
# Отклонение медианной площади территории от её среднего значения:
print('Mode by mean:',100*(melb_data['Landsize'].quantile(0.5) - melb_data['Landsize'].mean()) / melb_data['Landsize'].mean())

Mean price: 1075684.079
Max parking place: 10
Mode by mean: -21.20571398354619

In [78]:
# Стандартное отклонение (std) работает только с числовыми данными
melb_data.std()

C:\Users\AubakirovMA\AppData\Local\Temp\ipykernel_11624\1180831928.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  melb_data.std()

index              3920.352663
Rooms                 0.955748
Price            639310.724296
Distance              5.868725
Postcode             90.676964
Bedroom               0.965921
Bathroom              0.691712
Car                   0.960793
Landsize           3990.669241
BuildingArea        392.217403
YearBuilt            29.088642
Lattitude             0.079260
Longtitude            0.103916
Propertycount      4378.581772
dtype: float64

In [79]:
# Максимальное количество домов на продажу в районе (Propertycount)
melb_data['Propertycount'].max()

21650

In [80]:
# Стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости
melb_data['Distance'].std()

5.868724943071692

In [85]:
# Oтклонение (в процентах) медианного значения площади здания от его среднего значения
100*((melb_data['BuildingArea'].quantile(0.5) - melb_data['BuildingArea'].mean()) / melb_data['BuildingArea'].mean())

-9.764079662364534

In [95]:
# Мода списка
abc = pd.Series(
    data = [1, 2, 4, 2, 3, 2, 1, 5, 6]
    )
abc.quantile(0.5)

2.0

In [100]:
# Cколько спален чаще всего встречается в домах в Мельбурне
print(melb_data['Bedroom'].value_counts())
melb_data.describe().loc[:, ['Bedroom']]

3     5896
2     3737
4     2601
1      691
5      556
6       63
0       16
7       10
8        5
9        3
20       1
10       1
Name: Bedroom, dtype: int64

            Bedroom
count  13580.000000
mean       2.914728
std        0.965921
min        0.000000
25%        2.000000
50%        3.000000
75%        3.000000
max       20.000000

In [101]:
# 3х-комнатных квартир
melb_data[melb_data['Rooms'] == 3].shape[0]

5881

In [102]:
# 3х-комнатные квартиры дешевле 300к
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

3

In [103]:
# Квартиры дешевле 300к либо 3шки либо больше 100м2
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

68

In [104]:
# найдём медианную площадь здания у объектов, чья цена выше средней
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].quantile(0.5)

126.0

In [106]:
# У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [107]:
# Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской 
# компанией Nelson и стоимость которых составила больше 3 миллионов?
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

In [108]:
# Минимальная стоимость участка без здания (площадь здания равна 0)?
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [121]:
# Какова средняя цена объектов недвижимости с ценой менее одного миллиона, 
# в которых либо количество комнат больше пяти, либо здание моложе 2015 года?
round(melb_data[((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)) & (melb_data['Price'] < 1000000 )]['Price'].mean())

769239

In [123]:
# В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) 
# с ценой меньше трёх миллионов?
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].value_counts()

Northern Metropolitan         2737
Southern Metropolitan         2520
Western Metropolitan          2286
Eastern Metropolitan          1167
South-Eastern Metropolitan     387
Eastern Victoria                50
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [124]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
# Cколько строк
student_data.info()

In [ ]:
# Данные по студенту под индексом 155
student_data.iloc[155]

In [125]:
# Сколько суммарно пропущенных значений в таблице?
# Сколько столбцов в таблице имеет тип данных object?
# Какой объём памяти (в килобайтах) занимает таблица?
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
#Каков у студентов средний балл по математике?
student_data['math score'].mean()

In [126]:
# Какая расовая группа является самой крупной в учебном заведении?
student_data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [127]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [128]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0].shape[0]

1

In [ ]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, 
# чем у студентов с льготным питанием.
# Ответом напишите наибольший средний балл по математике среди этих групп студентов.
print('кушали за деньги', student_data[student_data['lunch'] == 'standard']['math score'].mean())
print('кушали бесплатно', student_data[student_data['lunch'] != 'standard']['math score'].mean())

In [135]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата 
# (bachelor's degree)?
student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0] / student_data.shape[0] *100

11.799999999999999

In [136]:
# Насколько медианный балл по письму у студентов в расовой группе А 
# отличается от среднего балла по письму у студентов в расовой группе C
student_data[student_data['race/ethnicity'] == 'group A']['writing score'].quantile(0.5) - student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

-5.827586206896555